<h1> Rails Scraper </h1>

<%= form_tag("/show", method: "get") do %> 
	<label>Enter a rails project's github model's URL </label>
	<input type="text" name="start_url">
	<input type="submit">
<% end %>

