<h1> Rails Model Visualizer </h1>

<%= form_tag("/show", method: "get") do %> 
	<label>Enter a Rails project's github URL </label>
	<input type="text" name="start_url">
	<input type="submit">
<% end %>

