
<h1 class="title"> Ruby on Rails ActiveRecord Model Visualizer</h1>

<% if flash[:alert] %>
	<h4 class="error"><%=flash[:alert] %></h4>
<%end%>

<div class="form-container">
<label>Enter a Rails project's github URL </label>
<%= form_tag("/show", method: "get") do %> 
	<input type="text" name="start_url">
	<br>
	<button type="submit">Visualize</button>
<% end %>
<%= form_tag("/showlaravel", method: "get") do %> 
	<input type="text" name="start_url">
	<br>
	<button type="submit">Visualize Laravel</button>
<% end %>
</div>


<h3 class="disclaimer">Certain cases may not work... yet</h3>

<div class="examples">
	<h4> Here are some open source projects known to work :</h4>

	 <p>Fulcrum <br> https://github.com/fulcrum-agile/fulcrum </p>
	 <p>Citizenry <br> https://github.com/reidab/citizenry </p>
</div>

<div class="contact">Created by<br><a href='//www.dan-burnette.com'>Dan Burnette </a></div>
