<h1> ActiveRecord Model Visualizer for RoR projects</h1>
<h2> Must have a schema.rb file present in db folder </h2>
<h3> This can take a minute or so as it searches through many pages</h3>

<%= form_tag("/show", method: "get") do %> 
	<label>Enter a Rails project's github URL </label>
	<input type="text" name="start_url">
	<input type="submit">
<% end %>




