
<% @model_to_data.each do |m, data|%>
	<div hidden class=<%=m%>> <%=data %> </div>
<% end %>

<br><br><br>
<h2>models </h2>
<%=@models %>

<div class="mouse tooltip" >Mouse-tracking HTML Tip</div>

<%= inline_svg("graph.svg") %>