
<nav> 
	<li> <%= link_to "Visualize another project", root_path %>  </li>
</nav>

<% @model_to_data.each do |m, data|%>
	<div hidden class=<%=m%>> <%=data %> </div>
<% end %>

<div class="mouse tooltip" >Mouse-tracking HTML Tip</div>

<%= inline_svg("graph.svg") %>