<h1 class="title"> Ruby Model Visualizer</h1>
<h3 class="subtitle">Now with controller visualizations!</h3>

<div class="form-container">
  <label>Enter a Rails project's github URL </label>

  <form action="/visualize" method="get">
    <input type="text" name="start_url">
    <button type="submit">Visualize</button>
  </form>

</div>

<h3 class="disclaimer">Certain cases may not work... yet</h3>

<div class="examples">
  <h4> Here are some open source projects known to work :</h4>
  <p>Fulcrum <br> https://github.com/fulcrum-agile/fulcrum </p>
  <p>Citizenry <br> https://github.com/reidab/citizenry </p>
</div>

<div class="contact">Created by<br><a href='//www.dan-burnette.com'>Dan Burnette</a></div>
