<% js_custom_add_file('javascripts/loader') %>

<h1 class="title">Rails Model Visualizer</h1>

<div class="form-container">
  <h2>Enter a Rails project's github URL:</h2>
  <div class="error"><%=@error_message%></div>
  <form action="/visualize_repo" method="get">
    <input type="text" name="repo_root_url" value=<%=@attempted_url%>>
    <button type="submit">Visualize</button>
  </form>
</div>

<div class="github-status">
  <% if session[:access_token] %>
    You're all set to visualize private repositories.<br>You can
    <a target="_blank" href="https://github.com/settings/connections/applications/<%=CLIENT_ID%>">revoke access here</a>.
  <% else %>
    <a href="/private_repo_auth">
      Sign in with GitHub to visualize private repositories
    </a>
  <% end %>
</div>

<div id="loader">Visualizing</div>
<div id="long-load-message">
  Your project must have a lot of models! The visualization might be spaghetti but I hope your code isn't!
</div>

<div class="examples">
  <h3>Here are some examples you can try:</h3>
  <ul>
    <li>Fulcrum <br> https://github.com/fulcrum-agile/fulcrum </li>
    <li>Citizenry <br> https://github.com/reidab/citizenry </li>
  </ul>
</div>

<div class="source"><a href="https://github.com/Dan-Burnette/Rails-Model-Visualizer">View source code</a></div>
<div class="contact">Created by<br><a href='http://dan-burnette.com'>Dan Burnette</a></div>



