<html>
  <head>
    <title>Rails Model Visualizer</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="https://unpkg.com/sanitize-html@1.24.0"></script>
    <%= js_custom_files %>
  </head>
  <body>

  <%= yield %>

  </body>
</html>
