<html>
<head>
  <title>Rails Model Visualizer</title>
  <link href="<%= url('/css/styles.css') %>" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
