<html>
  <head>
    <title>Rails Model Visualizer</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="javascripts/modelSchemaOverlay.js"></script>
  </head>
  <body>

  <%= yield %>

  </body>
</html>
