<nav> 
  <li>
    <a href="/">Visualize another project</a>
  </li>
</nav>

<% @model_to_data.each do |m, data|%>
	<div hidden class=<%=m%>> <%=data %> </div>
<% end %>

<div class="mouse tooltip">Mouse-tracking HTML Tip</div>

<div class="model-graph"> <%= inline_svg("graph.svg") %> </div>


