<nav> 
  <li>
    <a href="/">Visualize another project</a>
  </li>
</nav>

<% @model_to_data.each do |m, data|%>
  <div hidden class=<%=m%>> <%=data %> </div>
<% end %>

<div class="mouse tooltip">Mouse-tracking HTML Tip</div>


<!-- Create a div where the graph will take place -->
<div id="graph" data-graph=<%=@graph_json%>></div>


