<nav> 
  <li>
    <a href="/">Visualize another project</a>
  </li>
</nav>

<% @model_to_data.each do |m, data|%>
	<div hidden class=<%=m%>> <%=data %> </div>
<% end %>

<div class="mouse tooltip">Mouse-tracking HTML Tip</div>

<div class="model-graph"> <%= inline_svg("graph.svg") %> </div>

<h1 class="controller-title">Controllers and their actions</h1>

<% @controllers.each do |name, actions| %>
	<div>&nbsp</div>
	<div class="controller-graph"> <%= inline_svg("#{name}.svg") %> <div> 
<% end %> 
