<nav> 
  <li>
    <a href="/">Visualize another project</a>
  </li>
</nav>

<% @tables_to_column_lines.each do |table, column_lines| %>
  <div hidden id=<%="#{table}"%>>
    <h4>Schema</h4>
    <% column_lines.each do |line| %>
      <p><%=line%></p>
    <% end %>
  </div>
<% end %>

<div class="model-graph"> <%= inline_svg("graph.svg") %> </div>

