<% js_custom_add_file("https://unpkg.com/@popperjs/core@2") %>
<% js_custom_add_file("https://unpkg.com/tippy.js@6") %>
<% js_custom_add_file("https://unpkg.com/sanitize-html@1.24.0") %>
<% js_custom_add_file("https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.5.0/dist/svg-pan-zoom.min.js") %>
<% js_custom_add_file('javascripts/modelTableTooltips') %>
<% js_custom_add_file('javascripts/zoomGraph') %>

<% @table_names_to_column_lines.each do |table_name, column_lines| %>
  <div hidden id=<%="#{table_name}"%>>
    <h4>Schema</h4>
    <% column_lines.each do |line| %>
      <p><%=line%></p>
    <% end %>
  </div>
<% end %>

<div class="model-graph"> <%= inline_svg("graph.svg") %> </div>

<nav> 
  <a href="/">Visualize another project</a>
</nav>
