body {
  background-image: url('/images/cubes.png');
}

svg {
  margin-left: auto;
  margin-right: auto;
}

.model-graph {
  text-align: center;
}

.title,
.subtitle,
.form-container,
.examples,
.disclaimer,
.error,
.contact {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Droid Sans Mono';
}

.title {
  font-size: 5em;
}

.form-container {
  margin-top: 7em;
}

input {
  width: 20%;
  height: 20px;
  border-radius: 0.5em;
}

.tippy-box[data-theme~='custom'] {
  background-color: #00a7e1;
  opacity: 0.9;
}

.tippy-content h4 {
  text-align: center;
}

.tippy-content p {
  margin-top: 0;
  margin-bottom: 0;
}
