/* Background pattern from Toptal Subtle Patterns */
body {
  background-image: url('/images/cubes.png');
}

.title,
.form-container,
.examples,
.error,
.contact,
.source {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Droid Sans Mono';
}

.title {
  font-size: 5em;
  margin-top: 1em;
}

.form-container {
  margin-top: 7em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

input {
  font-size: 1em;
  border-radius: 0.5em;
  width: 25em;
}

button {
  margin-top: 1em;
}

.examples ul {
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style-type: none;
}

.examples ul li,
.contact,
.source {
  margin-top: 1em;
}

#loader {
  font-family: 'Droid Sans Mono';
  font-size: 1.5em;
  width: 7.7em;
  margin: 0 auto;
  display: none;
}

#loader:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: '\2026'; /* ellipsis */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

#long-load-message {
  font-family: 'Droid Sans Mono';
  font-size: 1em;
  text-align: center;
  margin: 1em auto;
  display: none;
}

.model-graph {
  text-align: center;
}

svg {
  margin-top: 1em;
  width: 90%;
  height: 90%;
  border: 2px solid black;
  border-radius: 0.5em;
}

.tippy-box[data-theme~='custom'] {
  background-color: #00a7e1;
  opacity: 0.9;
  font-family: 'Droid Sans Mono';
}

.tippy-content h4 {
  text-align: center;
}

.tippy-content p {
  margin-top: 0;
  margin-bottom: 0;
}

nav {
  font-family: 'Droid Sans Mono';
  text-align: center;
  margin-top: 1em;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 2.5em;
  }

  .form-container {
    margin-top: 3em;
  }

  input {
    width: 80%;
  }
}
