files:
 "/etc/nginx/conf.d/app_server.conf":
    mode: "000644"
    owner: root
    group: root
    content: |

      upstream my_app {
        server unix:///var/run/puma/my_app.sock;
      }

      log_format healthd '$msec"$uri"'
                      '$status"$request_time"$upstream_response_time"'
                      '$http_x_forwarded_for';

      server {
        listen 80;
        server_name _ localhost; # need to listen to localhost for worker tier

        if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          set $year $1;
          set $month $2;
          set $day $3;
          set $hour $4;
        }

        access_log  /var/log/nginx/access.log  main;
        access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;

        location / {
            set $redirect 0;
            if ($http_x_forwarded_proto != "https") {
              set $redirect 1;
            }
            if ($host = "www.railsmodelvisualizer.com") {
              set $redirect 1;
            }
            if ($http_user_agent ~* "ELB-HealthChecker") {
              set $redirect 0;
            }
            if ($redirect = 1) {
              return 301 https://railsmodelvisualizer.com$request_uri;
            }   
          proxy_pass http://my_app; # match the name of upstream directive which is defined above
          proxy_set_header Host $host;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }

        location /public {
          alias /var/app/current/public;
          gzip_static on;
          gzip on;
          expires max;
          add_header Cache-Control public;
        }

      }

container_commands:
  01_remove_webapp_healthd:
    command: "rm -f /opt/elasticbeanstalk/support/conf/webapp_healthd.conf /etc/nginx/conf.d/webapp_healthd.conf"
  02_reload_nginx:
    command: "sudo service nginx reload"
