.title, .form-container, .examples, .disclaimer, .error, .contact {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title {
	font-size: 5em;
}



.form-container {
	margin-top: 7em;
}

input {
	width: 20%;
	height: 20px;
	border-radius: 0.5em;
}


